<div class="root" fxLayout="column" fxLayoutGap="20px">

    <mat-card *ngIf="!ready" class="mat-elevation-z10" fxLayout="column" fxLayoutGap="20px">
        <div fxLayoutGap="20px">
            <button (click)="addText()" [disabled]="isDrawingMode" color="primary" mat-raised-button>
                <mat-icon>add</mat-icon>
                <mat-icon>text_fields</mat-icon>
            </button>
            <button (click)="deleteSelected()" [disabled]="isDrawingMode" color="warn" mat-raised-button>
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button (click)="ready = true;" color="primary" mat-raised-button>
                <mat-icon>check</mat-icon>
            </button>
        </div>
        <div fxLayoutGap="20px">
            <mat-button-toggle-group (change)="changeDrawingState($event.value)">
                <mat-button-toggle [value]="true">
                    <mat-icon>edit</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle [checked]="true" [value]="false">
                    <mat-icon>text_fields</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group (change)="textColor = $event.value" (click)="colorChanged()"
                                     [disabled]="isDrawingMode">
                <mat-button-toggle [checked]="true" [value]="'white'">
                    <mat-icon class="white-pen"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle [value]="'black'">
                    <mat-icon class="black-pen"></mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </mat-card>
    <mat-card *ngIf="ready" class="mat-elevation-z10" fxLayout="row" fxLayoutGap="20px">

        <button (click)="download(downloadUrl)" color="primary" mat-raised-button>
            <mat-icon>arrow_downward</mat-icon>
        </button>
        <a #downloadUrl [href]="imageToDownload" class="hide" download="orlo.png">DownloadFile</a>

        <button (click)="shareToTelegram()" color="primary" mat-raised-button>
            <mat-icon svgIcon="telegram"></mat-icon>
        </button>
        <button (click)="copyToClickBoard()" color="primary" mat-raised-button>
            <mat-icon>file_copy</mat-icon>
        </button>

    </mat-card>
    <div fxLayout="column" fxLayoutAlign="start center">
        <mat-card class="mat-elevation-z10 canvas-container" [class.hide]="ready">
            <canvas class="canvas" id="editorCanvas"></canvas>
        </mat-card>
        <mat-card class="mat-elevation-z10 canvas-container" *ngIf="ready">
            <img *ngIf="ready" [src]="getImageDataURL()" alt="meme">
        </mat-card>
    </div>
</div>


