.canvas {
  width: 100%;
  border-radius: 2px;
}

.canvas-container {
  padding: 3px;
}

.hide {
  display: none;
}

.white-pen {
  border: #2a2a2a solid 1px;
  background-color: white;
}

.black-pen {
  border: #2a2a2a solid 1px;
  background-color: #010000;
}
