<mat-card class="root">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Image URL</mat-label>
        <input #urlInput matInput placeholder="Put your image url here">
        <button (click)="goToEdit(urlInput.value)" [disabled]="!urlInput.value" color="primary" mat-mini-fab matSuffix>
            <mat-icon>sentiment_very_satisfied</mat-icon>
        </button>

    </mat-form-field>
    <div>
        <app-image-drop (imagesUploaded)="goToEdit($event[0].src)" [showPreload]="false" [length]="1"></app-image-drop>
    </div>
</mat-card>
<div class="root" fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="32px">

    <mat-card (click)="goToEdit(image.url)" *ngFor="let image of images" class="card mat-elevation-z3"
              fxFlex="0 1 calc(20% - 32px)" fxFlex.xs="0 1 100%" fxLayout="column" fxLayoutAlign="start center">
        <div>
            <img [src]="image.url">
        </div>
    </mat-card>
</div>


