<div>
    <mat-toolbar class="mat-elevation-z10" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <div (click)="goHome()">
            <span class="logo">ORLO</span>
        </div>

        <div class="toolbar-actions" fxLayoutGap="15px">
            <button mat-icon-button aria-label="telegram" (click)="goToTelegram()">
                <mat-icon svgIcon="telegram"></mat-icon>
            </button>
            <button mat-icon-button aria-label="telegram" (click)="goToInstagram()">
                <mat-icon svgIcon="instagram"></mat-icon>
            </button>
        </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
