.logo {
  color: #e0dfdc;
  letter-spacing: .2em;
  text-shadow: 0 -1px 0 #fff,
  0 1px 0 #2e2e2e,
  0 2px 0 #2c2c2c,
  0 3px 0 #2a2a2a,
  0 4px 0 #282828,
  0 5px 0 #262626,
  0 6px 0 #242424,
  0 7px 0 #222,
  0 8px 0 #202020,
  0 9px 0 #1e1e1e;
  font-weight: bold;
  font-size: 150%;
  margin-left: 30px;
  cursor: pointer;
}

.toolbar-actions > mat-icon {
  font-size: 130%;
}

.toolbar-actions {
  margin-bottom: 10px;
}
