.drag-zone {
  min-height: 10vh;
  width: 100%;
  max-height: 700px;
  border: 2px dashed grey;
  cursor: pointer;
}

.drag-over {
  border: 2px solid #000cff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.drag-over > mat-icon {
  color: #000cff;
}

.hide {
  display: none;
}

.image-box {
  width: 100%;
  height: 22vh;
  max-height: 620px !important;
  margin-top: 5px;
  padding: 0 0 0 10px;
  overflow-x: auto;
}

.image-box > div {
  position: relative;
}


.image-box img {
  display: inline-block;
  height: 20vh;
  max-height: 600px;
}


.image-box mat-divider {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.remove-image-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: -14px 9px 0;
}
