<div fxLayout="column" fxLayoutAlign="start center">
    <input type="file" #fileInput multiple class="hide" accept="image/*"
           (change)="fileInputChange($event.target.files)">
    <mat-card (drop)="onDrop($event)"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragleave($event)"
              (click)="fileInput.click()"
              fxLayout="row" fxFlex="100" class="drag-zone"
              fxLayoutAlign="center center"
              [ngClass]="dragover ? 'drag-over' : ''">
        <mat-icon class="disable-text-selection">add</mat-icon>
    </mat-card>
    <mat-card *ngIf="showPreload && images.length > 0" class="image-box" fxLayout="row" fxLayoutAlign="start center">
        <div *ngFor="let image of images; let i = index;" fxLayout="row">
            <button mat-icon-button class="remove-image-button" (click)="removeImage(image)">
                <mat-icon color="error">clear</mat-icon>
            </button>
            <img [src]="image.src" class="demo-image">
            <mat-divider [vertical]="true" *ngIf="i < images.length"></mat-divider>
        </div>
    </mat-card>
</div>
