@import '~@angular/material/theming';

@include mat-core();

$orlo-primary: mat-palette($mat-gray, 900);
$orlo-accent: mat-palette($mat-pink, A200, A100, A400);

$orlo-warn: mat-palette($mat-red);

$orlo-theme: mat-light-theme($orlo-primary, $orlo-accent, $orlo-warn);

@include angular-material-theme($orlo-theme);


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.root {
  margin: 10px;
}

.full-width {
  width: 100%;
}
